// Media Queries 
@media screen and (min-width: 768px) {

  // Header Section 
  .header {
    height: 10rem;

    &.active {
      height: 6rem;
    }
  }

  // Hero Section 
  .hero {
    .container {
      .main-heading {
        .title {
          font-size: 8rem;
        }
      }
    }
  }

  // Contact Section 
  .contact {
    .container {
      .contact-content {
        justify-content: space-between;

        .traveler-wrap {
          display: block;
          flex: 0 0 45%;

          img {
            width: 100%;
          }
        }

        .contact-form {
          flex: 0 0 50%;
          align-self: flex-start;

          .input-group-wrap {
            display: flex;

            .input-group {
              width: 50%;
              margin-right: 2rem;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  // Footer Section 
  .footer {
    .container {
      .footer-content {
        display: flex;
        justify-content: space-between;

        .footer-content-brand {
          margin-bottom: 0;
          flex: 0 0 60%;

          .paragraph {
            margin-top: 2.5rem;
          }
        }

        .social-media-wrap {
          flex: 0 0 40%;
          margin-left: 2.5rem;

          .footer-heading {
            margin-bottom: 5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  section:not(.booking) {
    padding: 10rem 0;
  }

  // Header Section 
  .header {
    .container {
      .nav {
        .hamburger-menu {
          display: none;
        }

        .nav-list {
          position: initial;
          width: initial;
          height: initial;
          background-color: transparent;
          flex-direction: row;
          justify-content: initial;
          opacity: 1;
          transform: scale(1);

          .nav-item {
            &:not(:last-child) {
              margin-right: 3rem;
              margin-bottom: 0;
            }

            .nav-link {
              font-size: 1.3rem;
              font-weight: normal;
              transition: color 0.5s;

              &:hover {
                color: $yellow-solid;
              }
            }
          }
        }
      }
    }
  }

  // Hero Section 
  .hero {
    .container {
      .main-heading {
        .title {
          font-size: 12rem;
        }

        .sub-title {
          font-size: 4.6rem;
        }
      }
    }
  }

  // Booking Section 
  .booking {
    .container {
      .form {
        display: flex;
        justify-content: space-between;

        .input-group {
          margin-bottom: 0;

          &:first-child {
            flex: 0 0 20%;
          }

          .input,
          .options {
            min-width: 10rem;
          }
        }
      }
    }
  }

  // Room Section {
  .rooms {
    .container {
      .rooms-grid {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 8rem;

        .featured-rooms {
          flex-direction: row;
          align-items: flex-start;

          .room-info-wrap {
            margin-left: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  // Booking Section 
  .booking {
    .container {
      .form {
        display: flex;
        justify-content: space-between;

        .input-group {
          margin-bottom: 0;

          &:first-child {
            flex: 0 0 30%;
          }
        }
      }
    }
  }
}